::ng-deep {
  .content-area {
    display: flex;
    flex-direction: column;

    mat-form-field {
      width: 20%;
    }

    mat-table {
      mat-header-cell,
      mat-cell {
        .book-button {
          background-color: #6200EE;
          color: white;
        }

        .disabled-button {
          background-color: #9E9E9E !important; // Grey background for disabled state
          color: #BDBDBD !important; // Light grey text color for disabled state
          pointer-events: none; // Ensure the button is not interactive
        }

        button.mat-button.cdk-focused, button.mat-button.cdk-program-focused {
          background-color: #6200EE; // Ensure focused state has correct color
          color: white;
        }
      }

      mat-cell:empty:before {
        content: '-';
      }
    }
  }
}
