:host {
  display: block;
  width: 100%; // Ensures the header spans the full width of the viewport

  mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; // High z-index to ensure it is on top of other elements
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    color: #333; // Dark grey color for better readability
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Optional shadow for depth
    padding: 0 16px; // Adds padding on both sides of the toolbar
  }

  .mdc-button ~ .mdc-button {
    margin-left: 10px;
  }

  .spacer {
    flex: 1 1 auto; // Takes up all available space
  }
}
